#Cleaning data

Campaign finance information for Colorado is publicly available from the [TRACER](http://tracer.sos.colorado.gov/PublicSite/homepage.aspx),Transparency in Contribution and Expenditure Reporting, website.  You may also use the REST [API](http://co.opencampaigndata.org/).

In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv(os.path.join('data','exp_sub.csv'))
print df.head()

             filedDate firstName                           lastName  \
0  2013-03-13 00:00:00       NaN                           KEY BANK
1  2013-03-13 00:00:00       NaN                           KEY BANK
2  2013-01-11 00:00:00       NaN                     CITI BANK VISA
3  2013-04-15 00:00:00       NaN                            NGP VAN
4  2013-04-14 00:00:00       NaN  LEADERSHIP PROGRAM OF THE ROCKIES

                             address        city state    zip  amount
0                       PO BOX 22114       ABANY    NY  12201     NaN
1                       PO BOX 22114       ABANY    NY  12201     NaN
2                                . .           .    CO  .....     NaN
3              48 GROVE ST SUITE 202  SOMERVILLE    MA  02144     NaN
4  1777 S. HARRISON STREET, STE. 807      DENVER    CO  80210     NaN

In [3]:
print df['zip'].unique()

['12201' '.....' '02144' ..., '32696.0' '40401.0' '80807-']

In [4]:
print df['state'].unique()

['NY' 'CO' 'MA' 'ID' 'CA' 'MN' 'NC' 'GA' 'WA' 'DC' 'NJ' 'TX' 'KY' 'TN' 'IN'
 nan 'AZ' 'MD' 'UT' 'PA' 'WI' 'FL' 'OH' 'NE' 'IL' 'D.' 'WV' 'DE' 'OT' 'MS'
 'OK' 'MI' 'DI' 'LA' 'VA' 'ARVADA' 'BC' 'NV' 'TE' 'IA' 'MO' 'N/' 'NM' 'SD'
 'ND' 'HI' 'ON' 'NH' 'CT' 'AL' 'KS' 'OR' 'QC' 'AR' 'NB' 'VT' 'MY' 'LU' 'SC'
 'SO' 'WY' 'C0' 'UN' 'UK' 'MT' 'HA' 'CP' 'ME' 'BE' 'VI' 'IO' 'KE' 'CHECKS'
 'NO' 'PE' 'CANDIDATE NAME TAG' 'GAS & PARKING' 'POSTAGE' 'GAS' 'LO'
 'INK CARTRIDGE' 'T-SHIRTS'
 'ELECTRONIC DONATION PROCESSING AND TRANSFER FEES' 'PARADE FEE'
 'LARIMER DEMS BREAKFAST' 'TRXF FEES' 'PROPANE' 'FUEL' 'LODGING' 'AA'
 'MAILING SUPPLIES' 'PARK RESERVATION FEE' 'EU' 'KA' 'LITERATURE'
 'ICE CREAM FOR CAMPAIGN SOCIAL' 'GORA GORA ORKESTAR' 'BANK TRANSFER FEES'
 'XX' 'CANDIDATE CAMPAIGN CONTRIBUTION' 'TRUMAN CAMPAIGN DINNER' 'IR' 'AB'
 'POLITICAL YARD SIGNS' 'ROOM DIVIDER' 'POSTCARD PUBLICATION AND MAILING'
 'BANK TRXF FEES' 'GE' 'RI' 'PR' 'AK' 'AP' 'NS' 'BR' 'R.' 'DU' 'BO'
 'IN KIND CONTRIBUTION FROM CANDIDATE' 'AU' 'PU']

##Approach: use `map`

In [5]:
def parse_filed_date(dstr):
    try:
        tmp = str(dstr).split('-')
        year, month, day = tmp[0], tmp[1], tmp[2][:2]
        return datetime.date(year=int(year), month=int(month), day=int(day))
    except ValueError:
        return datetime.date(year=1990, month=1, day=1)
    except IndexError:
        return datetime.date(year=1990, month=1, day=1)

In [7]:
def cleanup_zip(zipcode):
    tmp = str(zipcode)
    if tmp.find('-') > 0:
        tmp = tmp[:tmp.find('-')]
    try:    
        tmp = str(abs(int(float(tmp))))
    except ValueError:
        tmp = '99999'
        
    if len(tmp) < 5:
        tmp = '99999'
    elif len(tmp) > 5:
        tmp = tmp[:5]
        
    return tmp

In [8]:
df['zip_clean'] = df['zip'].map(cleanup_zip)

In [9]:
df['date_clean'] = df['filedDate'].map(parse_filed_date)

In [10]:
print df.head(10)

             filedDate firstName                           lastName  \
0  2013-03-13 00:00:00       NaN                           KEY BANK
1  2013-03-13 00:00:00       NaN                           KEY BANK
2  2013-01-11 00:00:00       NaN                     CITI BANK VISA
3  2013-04-15 00:00:00       NaN                            NGP VAN
4  2013-04-14 00:00:00       NaN  LEADERSHIP PROGRAM OF THE ROCKIES
5  2013-04-14 00:00:00       NaN                   CONSTANT CONTACT
6  2013-04-15 00:00:00       NaN                           1ST BANK
7  2013-07-15 00:00:00       NaN                           1ST BANK
8  2013-07-15 00:00:00       NaN                           1ST BANK
9  2013-01-09 00:00:00       NaN                        WELLS FARGO

                             address               city state    zip  amount  \
0                       PO BOX 22114              ABANY    NY  12201     NaN
1                       PO BOX 22114              ABANY    NY  12201     NaN
2                                . .                  .    CO  .....     NaN
3              48 GROVE ST SUITE 202         SOMERVILLE    MA  02144     NaN
4  1777 S. HARRISON STREET, STE. 807             DENVER    CO  80210     NaN
5                  1601 TRAPELO ROAD            WALTHAM    MA  02451     NaN
6                        PO BOX 4547  GREENWOOD VILLAGE    CO  80115     NaN
7                        PO BOX 4547  GREENWOOD VILLAGE    CO  80115     NaN
8                        PO BOX 4547  GREENWOOD VILLAGE    CO  80115     NaN
9          18220 E 104TH AVE STE 101     COMMERECE CITY    CO  80022     NaN

  zip_clean  date_clean
0     12201  2013-03-13
1     12201  2013-03-13
2     99999  2013-01-11
3     99999  2013-04-15
4     80210  2013-04-14
5     99999  2013-04-14
6     80115  2013-04-15
7     80115  2013-07-15
8     80115  2013-07-15
9     80022  2013-01-09

What percent is bad?

In [11]:
print np.sum(df['zip_clean'] == '99999')/float(len(df))*100

7.89467765404

In [12]:
print np.sum(df['date_clean'] == datetime.date(year=1990, month=1, day=1))/float(len(df))*100

0.019723285761

Is that really a big deal?

In [13]:
dirty_amount = df[df['zip_clean'] == '99999']['amount'].sum()

In [14]:
clean_amount = df[df['zip_clean'] != '99999']['amount'].sum()

In [15]:
print dirty_amount/(clean_amount+dirty_amount)*100

1.93791959238

Less of an issue in terms of money.

## Do our results make sense?

In [16]:
df[df['zip_clean'] == '99999']['zip'].unique()

array(['.....', '02144', '02451', '08542', nan, '02141', '7068', '02238',
       '07920', '02138', '01830', '02421', 'K2E1A', '4527-', '07068',
       '00238', 'CO', '01803', '08090', 'ONLINE', 'V6B 1A7', '8020',
       '07660', 'FEE', '08854', '02476', '07656', 'N/A', '00000',
       'M6K 3M1', '01702', '....', '03102', '06902', '01420', '07070',
       'J1H 1', '8022', '99999', 'K1V7P', '01862', '05701', '2138', '2238',
       '06104', '07840', '08054', 'L-2449', '06183', 'V6B 4N4', '1524',
       '05702', '01886', '02494', '06120', '0000000000', 'PO15 5RQ',
       '01230', 'UNKNOWN', '0026', '03261', '02210', '07733', '2451.0',
       '2421.0', '2139.0', '7078.0', '6880', '9027', '07006', 'J1H 1Z3',
       '07751', '04106', '08831', '8112', '8017', 'M2N5J9', '06850',
       '6183', '02452', '01062', '06150', '08053', '8008', 'TEXAS',
       '01063', '08736', '07071', '08002-0343', '02238-2110', '8505',
       'W1G9Q', '8.012', '02050', '8427', 'WASHINGTON', '04101',
       'UNKNOWN -', '06856', '06880', '1625', '8024', '8152', '06854',
       '8012', '8029', 'L3R5M7', '8321', 'K7M8S', '06410', 'M1W 3Z5',
       'XXXXX', '1171.00', '03103', '01915', 'WEB', '8', '2009', '75.0',
       '1862.0', '2009.0', '2144.0', '236', '8002', 'T2G1M', '01103',
       'SW59QJ', 'N1 6AH', 'DA16 2WE', 'SW1H OTL', 'T2G -', '04643',
       '02072', '8030 5', '8021-2408', '2370', '80503`', '80751D', '0550',
       '75', 'HOTWIRE.CO', '06897', '02108', '01960', '9', '02111',
       '07632', 'M5J 2', 'SE19PH', 'SE1 9PP', 'KIV7P2', '0', '2209',
       '1235', '1471', '27', '8006', '99999.0', '802.0', '2632.0',
       '7974.0', '5.0', '25.0', '2209.0', '1970.0', '811.0', '4901.0',
       '7901.0', '4102.0', '1039', '6084', '8050', '4102', '800', '7901',
       '0.0', '3243.0', '8050.0', '2084.0', '7059', '2460', '8822', '8034',
       '6111', '8052', '8037', '6820', '4.0', '6084.0', '8029.0', '9999.0',
       '500.0', '9999', '14', '6111.0', '6820.0', '5400', '8021', '8093',
       '4953.0', '1611.0', '2.0', '4012.0', '2892.0', '2001.0', '8023.0',
       '2476.0', '8013.0', '823.0', '8093.0', '8421.0', '8090.0', '7059.0',
       '8023', '7451', '8031', '2245.0', '7834.0', '8041.0', '1471.0',
       '200.0', '131.0', '8018.0', '810.0', '2700.0', '8022.0', '9.0',
       '8003.0', '5701.0', '8033.0', '5667.0', '8141.0', '8010.0',
       '1110.0', '8110.0', '5672.0', '37.0', '1803.0', '7606.0', '8020.0',
       '6247.0', '7083.0', '8040.0', '8134.0', '1200.0', '7860.0', '229.0',
       '6880.0', '8246.0', '2644.0', '1022.0', '805.0', '8162.0', '8075.0',
       '8012.0', '8091.0', '8057.0', '8011.0', '80.0', '1158.0', '8002.0',
       '2117.0', '8120.0', '8906.0', '172.0', '2114.0', '8.0', '7068.0',
       '8052.0', '8021.0', '8608.0', '6447.0', '999.0', '3030.0', '7091.0',
       '906.0', '8223.0', '9806.0', '1602.0', '8817.0', '7189.0', '6854.0',
       '8435.0', '6611.0', '1.0', '8150.0', '8124.0', '8477.0', '2110.0',
       '2405.0', '2142.0', '7400.0', '7189', '7362', '8005.0', '8112.0',
       '63.0', '1888.0', '9215.0', '8642.0', '8501.0', '8087.0', '7004.0',
       '1364.0', '81.0', '2407.0', '8211.0', '8100.0', '8024.0', '1801.0',
       '9832.0', '3488.0', '8202.0', '3.0', '2179.0', '8004.0', '2006.0',
       '8008.0', '1463.0', '2816.0', '8000.0', '8043.0', '1111.0',
       '8634.0', '2559.0', '5402.0', '2138.0', '2163.0', '2045.0',
       '4101.0', '3741.0', '2169.0', '8086.0', '2328.0', '7647.0', '1803',
       '1801', '8125', '824.0', '8044', '07626', '03741', '07101',
       '6183.0', '3083.0', '7101.0', '8121.0', '7772.0', '5401.0',
       '8512.0', '8123.0', '02127', '80', '02140', '8090', '9088.0', '61',
       '1560', '2241.0', '7945.0', '05402', '1000.0', '8816.0', '8854.0',
       '8017.0', '8138.0', '803', '3102.0', '7452.0', '8101', '8131',
       '2127.0', '8053', '01201', '07452', '2210.0', '7438.0', '6050.0',
       '830.0', '8025', '02887', '05601', '2141.0', '5495.0', '8047.0',
       '9313.0', '8312.0', '8054', '02241', '1002.0', '8156', '8751.0',
       '2005.0', '930', '8007', '9988.0', '8104.0', '2140.0', '8161.0',
       '8044.0', '4000.0', '8108.0', '8103.0', '06926', '03054', '07834',
       '9742', 'T2G1M8', '06104-2907', '08873', '06106', 'M5H2M9',
       'M5B2H1', 'M5V1J3', '8000', '811', '8026', '12', '03053', '01452',
       '02171', '02116', '8030', '09140', 'B5A4B1', '1111', '02', '81',
       '08487', '8103', '8151', '8501', '00000-0', '8011', '00111',
       '02888', '06426', '8701', '06409', '05672', '8055', '02493',
       '02347', '02125', '06141', '07005', '04011', '01961', '04240',
       '06824', '02110', '8056', '02128', '03801', '01410-1', '6281',
       '8028', '3621', '6282', '04241', '03909', '6283', '08540', '8631',
       '02199', '02142', '02118', '0000', '05753', '07083', '218', '809',
       '8203', '8104', '5711', '01021', '08816', 'K7M 885', '07670',
       '5000', '08290', '7004', '4101', '2003', '07188', '01949', '02536',
       '0443', '7570', '2000', '8140', '3274', '7000', '6153', '801',
       '07059', '70', '2541', '9229', '02112', 'M8X 2Y8', '8113', '8083',
       '94', '8010', '3675', '03585', '8014', '02101', '525', '07607',
       '05602', 'K7M 8S5', '02492', '02381', '7452', '03062', '8290',
       '02541', '8123', '02021', '0704', '06820', '7400', '8005', '02420',
       '8795', '8013', '08054-1201', '07004', '3803', '02144-2500',
       '08753', '5268', '07432', '8003', '06268', '802', '07110', '1966',
       '1702', '07073', '00115', '05495', '04658', '8503-9040', '08817',
       'NONE', 'K1V 7P2', 'IA', 'N2C 2', '08730', 'T2G 1M8', '07470',
       '07002', '06612', '8149', 'T2G 1', 'L7L 5', '8J1149', '07042',
       '2421', '06250', '06405', '*0108', 'V9P 2H5', '8136', '??????',
       '02318', '4954', '8119', '06019', '01421', '02114', '07514', '5131',
       '04333', '04171', '06450', '02066', 'T2GS<8', 'WWW', '8910',
       '02829', '08527', '3OO43', '68542 2217', 'V5C 6C6', '07031',
       '02155', '80237 2735', 'AUSTRALIA', '01778', '9531', '08003',
       '06804', '02215', '?', '07054', '06830', 'COMPUTER', '07009',
       '06095', '02114-9757', '02109', '07719', '06907', '8032', '6008',
       '07080', '07652', '01801', '2005', '04579', '000266', '3000',
       '00907', '00979', '00937', '238.0', '2108.0', '2238.0'], dtype=object)

But `08542` is a valid zip code.

How about the `date_clean`?

In [17]:
print df[df['date_clean'] == datetime.date(year=1990, month=1, day=1)]['filedDate'].unique()

['825178' '831858' '825174' 'Other' 'Credit/Debit Card' 'Cash' 'Check'
 'Electronic Pay System' 'FUND RAISING' nan]